<a href="https://colab.research.google.com/github/tnwls1018/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력

print(first_four)
# 뒤 3개의 원소를 출력

print(last_three)

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력

print(every_other_list)

# 역순 출력

print(reverse_list)

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력


print(first_two_rows)

# 첫 두 열 출력


print(first_two_columns)

## 2-2 리스트 컴프리헨션

In [ ]:
numbers = [ ]

# 1 ~ 5 포함 리스트 생성
for i in range(5):
    numbers.append(i)

print(numbers)

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
for num in numbers:
  squares.append(num ** 2)

print(squares)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

print(even_numbers)

In [ ]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되 모든 원소를 조합한 투플의 리스트 생성
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))

print(pairs)

In [ ]:
squares = { }

# 딕셔너리 생성
for i in range(5):
    squares[i] = i ** 2

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [85]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트

print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트

print(large_short_name_cities)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}

In [10]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트
large_cities = {city: pop for city, pop in city_population. items() if pop >=200}
 #딕셔리리로 할때는 items 라는 매서드로 각각의 원소를 갖고 와야함
print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = {city: pop for city, pop in city_population.items() if pop >= 300 and '산' in city}
print(large_short_name_cities)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}

## 2-3 문자열 형식화

In [72]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅, c 스타일은 형식 지정자를 출력하는 것
# 이름, 나이, 월급 출력 %s 는 문자열 지정 %d는 정수값
basic_format ='이름: %s, 나이: %d, 월급: %d원' % (name, age, salary)#순서에 맞게 변수를 넣어줌
# 직원이름, 나이, 세후 월급 출력
index_format = '이름: %s, 나이: %d, 세후 월급: %d원' % (name, age, (salary -(salary * tax_rate)))

# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = '이름: %s, 나이: %d, 월급: %d, 세금: %.1f, 실수령액: %d' % (name, age, salary, tax_rate, int(salary*(1-tax_rate)))

print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000원
이름: 홍길동, 나이: 30, 세후 월급: 3150000원
이름: 홍길동, 나이: 30, 월급: 3500000, 세금: 0.1, 실수령액: 3150000

In [80]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# str.format 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = '이름: {}, 나이: {}세, 월급: {:,}원'. format(name, age, salary)
# 직원이름, 나이, 세후 월급 출력
index_format = '이름:{}, 나이:{}세, 세후월급 {:,}원'. format(name, age,int(salary-(salary*tax_rate)))
# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = '이름: {n}, 나이: {a}세, 월급: {s: ,}, 세금: {t:.0%}, 세후월급: {fs: ,}원'. format(n = name, a = age, s = salary, t = tax_rate, fs = int (salary*(1-tax_rate)))

print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30세, 월급: 3,500,000원
이름:홍길동, 나이:30세, 세후월급 3,150,000원
이름: 홍길동, 나이: 30세, 월급:  3,500,000, 세금: 10%, 세후월급:  3,150,000원

In [68]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = F'이름: {name}, 나이: {age}, 월급: {salary:,}'
# 직원이름, 나이, 세후 월급 출력
index_format = f'이름:{name}, 나이:{age}, 세후 월급: {int(salary*(1-tax_rate)):,}'
# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = f'직원이름: {name}, 나이: {age}, 월급: {salary}, 세금: {tax_rate:.0%}, 실수령액{int(salary*(1-tax_rate)): ,} '

print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3,500,000
이름:홍길동, 나이:30, 세후 월급: 3,150,000
직원이름: 홍길동, 나이: 30, 월급: 3500000, 세금: 10%, 실수령액 3,150,000

## 2-4 컨텍스트 관리

In [25]:
# 파일 오픈 & 클로즈
file = open('output.txt', 'w')
file.write('Hello, world!\n')
file. close()

# with open('output.txt','w') as file_write: (변수이름)
#    file_write.write('Hello, world!Wn')

In [ ]:
# 복수개의 파일(읽기 & 쓰기) 관리

In [84]:
import urllib.request
with urllib.request.urlopen('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv')
    data = response.read( ).decode('utf-8')

print(data)

SyntaxError: expected ':' (ipython-input-473492032.py, line 2)